@model SakilaMovieInterfaceLab.ViewModels.EditMovieViewModel

@{
    ViewData["Title"] = "Edit Movies";
}
<form method="post" asp-action="EditMovie">
    <div class="card m-4 bg-dark text-white" style="width: auto;">
        <div class="card-body">
            <div class="input-group mb-3">
                <label asp-for="Title" class="mr-2"></label>
                <input class="form-control" placeholder="Username" asp-for="Title">
            </div>
            <div class="input-group mb-3">
                <label asp-for="ReleaseYear" class="mr-2"></label>
                <input class="form-control" placeholder="Username" asp-for="ReleaseYear">
            </div>
            <div class="input-group mb-3">
                <label asp-for="Lenght" class="mr-2"></label>
                <input class="form-control" placeholder="Username" asp-for="Lenght">
            </div>
            <div class="input-group mb-3">
                <label asp-for="Rating" class="mr-2"></label>
                <input class="form-control" placeholder="Username" asp-for="Rating">
            </div>
            <div class="input-group mb-3">
                <label asp-for="Description" class="mr-2"></label>
                <input class="form-control" placeholder="Username" asp-for="Description">
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>